@import url(./mainStyle.css);
@import url(./loopStyle.css); /* Left to Right Looping Animation */
@import url(./commond_command.css); /* Command Commands */

/* Dark Mode */
body{
    background-color: var(--dark-body-color--);
    color: #ffffff;
    transition: var(--transistion-time--);
}

/* Navigation bar */
nav{
    background-color: var(--dark-body-color--);
    transition: var(--transistion-time--);
}
nav a{
    color: var(--dark-font-color--);
}

/* Main Section Style */
.entry-section{
    background-color: var(--dark-entry-color--);
    transition: var(--transistion-time--);
}

.content-container h1{
    color: var(--dark-font-color--);
}

/* Download Section */
.download-container{
    background-color: var(--dark-entry-color--);
    transition: var(--transistion-time--);
}
.download-header h1{
    color: var(--dark-font-color--);
}
.app-shops{
    color: var(--dark-icons-color--);
}

/* Ranking & Breaking */
.more-button {
    color: var(--dark-font-color--);
}
.container{
    background-color: var(--dark-entry-color--);
    transition: var(--transistion-time--);
}
.container #crypto-body{
    background-color: var(--dark-entry-color--);
}
.header h1{
    color: var(--dark-font-color--);
}

/* Footer */
footer{
    background-color: var(--dark-entry-color--);
}
.footer-sec ul h2{
    color: var(--dark-font-color--);
}
