@import url(./mainStyle.css);
@import url(./loopStyle.css); /* Left to Right Looping Animation */


:root{

    /* Light Mode */
    --font-color-- : #000000;
    --iconic-color-- : #78B7D0;
    --secondary-font-color--: #B7B7B7;
    --entry-color--: rgb(241, 246, 244);
    --download-bg-color-- : rgb(247, 248, 250);
    --download-icons-color--: rgb(113, 117, 137);

    /* Dark Mode */
    --dark-font-color-- : #FCFAEE;
    --dark-body-color--: rgb(45, 48, 55);
    --dark-entry-color--: rgb(41, 41, 41);
    --dark-icon-color--: #DBD3D3;

    /* Transition Duration */
    --transistion-time-- : 0.3s;
}

/* Dark Mode */
body{
    background-color: var(--dark-body-color--);
    color: #ffffff;
    transition: var(--transistion-time--);
}

/* Navigation bar */
nav{
    background-color: var(--dark-body-color--);
    transition: var(--transistion-time--);
}
nav a{
    color: var(--dark-font-color--);
}

/* Main Section Style */
.entry-section{
    background-color: var(--dark-entry-color--);
    transition: var(--transistion-time--);
}

.content-container h1{
    color: var(--dark-font-color--);
}

/* Download Section */
.download-container{
    background-color: var(--dark-entry-color--);
    transition: var(--transistion-time--);
}
.download-header h1{
    color: var(--dark-font-color--);
}
.app-shops{
    color: var(--dark-icons-color--);
}

/* Ranking & Breaking */
.more-button {
    color: var(--dark-font-color--);
}
.container{
    background-color: var(--dark-entry-color--);
    transition: var(--transistion-time--);
}
.container #crypto-body{
    background-color: var(--dark-entry-color--);
}
.header h1{
    color: var(--dark-font-color--);
}

/* Footer */
footer{
    background-color: var(--dark-entry-color--);
}
.footer-sec ul h2{
    color: var(--dark-font-color--);
}
