
@import url(./marketsStyle.css);
@import url(../php/trade_order/chart.css);



body, nav, .entry-section, .download-container, .container{
    transition: var(--transistion-time--);
}


.dropdown-content{
    background-color: var(--dark-font-color--);
}
.dropdown-content span{
    color: var(--font-color--);
}