@import url(./commond_command.css); /* Command Commands */


*{
    margin: 0;
    padding: 0;
}

.show{
    display: block;
}
main{
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 30px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--iconic-color--);
    z-index: -1;
}
img{
    width: 400px;
}
form{
    width: 45%;
    height: fit-content;
    /* border: 1px solid black; */
    padding: 50px;
    border-radius: 30px;
    background-color: var(--entry-color--);
}
form p{
    margin-bottom: 20px;
    color: var(--secondary-font-color--);
}
fieldset{
    border-radius: 50px;
    /* height: 100px; */
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 20px;
    box-sizing: border-box;
}
fieldset legend{
    margin-left: 30px;
}
fieldset span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -4px;
}
fieldset input{
    width: 90%;
    height: 40px;
    font-size: 16px;
    display: block;
    border: 0;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: transparent;
}
.active-btn{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 0;
    background-color: rgba(174, 174, 174, 0.599);
    cursor: pointer;
}
.checked .active-btn{
    
    background-color: var(--iconic-color--);
    color: var(--dark-font-color--);
}
form .btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Term and agreement */
.term-agreement-container{
    width: 60%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.term-agreement-container h1{
    font-size: 30px;
    color: var(--iconic-color--);
}
.term-agreement-container p{
    font-size: 20px;
    text-align: justify;
}
.btns{
    padding: 10px 30px;
    border: 0;
    border-radius: 10px;
}
#agree{
    background-color: var(--iconic-color--);
    color: var(--dark-font-color--);
}
#agree:hover{
    background-color: green;
}
#cancel{
    background-color: var(--body-color--);
}
#cancel:hover{
    background-color: red;
    color: var(--dark-font-color--);
}

/* Common Properties */
.bg-trans{
    background-color: transparent;
    border: 1px solid var(--iconic-color--);
    color: var(--iconic-color--);
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 0;
}
.btn-gp{
    display: inline-block;
}
