.currency-rate{
  margin: 5% 0;
  
}

.crypto-box {
  text-align: center;
  padding: 20px 50px; /* Increased padding */
  width: 300px; /* Width of each box */
  border-top: 0px;
  border-bottom: 0px;
  border-left: 1px solid ;
  transition: background 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  display: block; /* Makes the link fill the entire box */
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits color from parent */
}

.crypto-box:hover {
  transform: scale(1.05); /* Slightly enlarges the box on hover */
  background: #808593;
}

.percentage {
  font-size: 0.8em; /* Smaller font size */
  margin-left: 5px; /* Spacing between price and percentage */
}

.negative {
  color: red; /* Color for negative percentages */
}

.positive {
  color: green; /* Color for positive percentages */
}

.logo {
  width: 30px;
  height: 30px;
}
.pair {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.price {
  font-size: 24px;
  color: green;
}

img {
  max-width: 100%;
}

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;

  --gap: 5px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 40s linear infinite;
}

.stock-ticker ul li{
  margin: 0px;
  width: fit-content;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.stock-ticker ul:first-child {
  /* background-color: yellow; */
}

.stock-ticker ul:last-child {
  /* background-color: pink; */
}

.stock-ticker .company,
.stock-ticker .price {
  font-weight: bold;
}

.stock-ticker .price {
  margin-inline: 4px;
}

.stock-ticker .plus .change,
.stock-ticker .plus::before {
  color: #089981;
}

.stock-ticker .minus .change,
.stock-ticker .minus::before {
  color: #f23645;
}

/* For max 1200px width laptops/ tablets */
@media screen and (max-width: 1300px) {
  .crypto-box{
    width: 250px;
    padding: 10px 30px;
  }
}