@import url(./commond_command.css); /* Command Commands */
@import url(./dropDownBtn.css);



/* Common Properties */
nav a {
  text-decoration: none;
  color: var(--font-color--);
}

/* ========================= */
/* Navigation Bar Style */
/* ========================= */

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  position: fixed;
  background-color: #ffffff;
  line-height: 60px;
  z-index: 1;
}
.nav-subdiv {
  align-items: center; /* Align profile vartically */
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.mobile li a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#non-mobile {
  display: block;
}
#mobile {
  display: none;
}
.profile-img {
  width: 40px;
  display: inline-block;
  margin: 0 20px;
}
.signup-btn {
  background-color: var(--iconic-color--);
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
}

.show {
  display: block;
}

.dropbtn:hover .drop-down-arrow {
  rotate: 180deg;
  transition: 0.2s;
}

.unregisted{
  display: flex;
  align-items: center;
  gap: 20px;
}
.click-regist{
  display: none;
}

/* For max 1000px laptops/ tablets */
@media screen and (max-width: 1000px) {
  nav {
    font-size: 15px;
  }
  .profile-img {
    width: 30px;
  }
  .unregisted{
    display: none;
  }
  .click-regist{
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
  }
}

@media screen and (max-width: 780px) {
  #non-mobile {
    display: none;
  }
  #mobile {
    display: block;
  }
  .mobile {
    display: block;
  }
}

/* For max 500px phones  */
@media screen and (max-width: 500px) {
  nav {
    width: 100%;
    font-size: 15px;
  }
  .profile-img {
    width: 30px;
  }
  #non-mobile {
    display: none;
  }
  #mobile {
    display: block;
  }
}
