@import url(./commond_command.css); /* Command Commands */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(222, 222, 222, 0.522);
    padding: 50px;
}

/* Main Container */
.main-container{
    width: 80%;
    border-radius: 20px;
    padding: 40px;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 50px;
}

/* Side bar Navigation */
nav{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    border-right: 1px solid var(--secondary-font-color--);
}
nav a{
    color: var(--secondary-font-color--);
    text-decoration: none;
}
#delete-acc{
    color: rgb(176, 0, 0);
}

/* Info Container */
.info-container{
    width: 100%;
}
#profile-pic{
    width: 200px;
    margin: auto;
    border-radius: 100%;
}
#pfp-edit-btn{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    cursor: pointer;
}
.name-chg-div, .info-chg-div, .chg-password{
    width: 500px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
    background-color: #ffffff;
}
.name-chg-div label, .info-chg-div label, .chg-password label{
    color: var(--iconic-color--);
    font-size: 18px;
    font-weight: bold;
}
.name-chg-div p, .info-chg-div p{
    font-size: 12px;
    color: var(--secondary-font-color--);
}
.change-input{
    width: 100%;
    border-radius: 5px;
    background-color: var(--body-color--);
    padding: 10px;
}
.name-chg-div span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.name-chg-div button{
    background-color: var(--iconic-color--);
    padding: 10px;
    border-radius: 5px;
}
.name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--secondary-font-color--);
    border-radius: 10px;
    padding: 5px 20px;
}
.name-sub-container{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    line-height: 20px;
}
.name-sub-container h5{
    color: var(--secondary-font-color--);
}
.name-container img{
    width: 80px;
}
.name-container span{
    display: block;
}
.edit-btns{
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid var(--secondary-font-color--);
}
.chg-password{

}

/* Personal Information */
.personal-info-container{
    border: 1px solid var(--secondary-font-color--);
    border-radius: 10px;
    padding: 10px 20px;
}
.personal-info-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.personal-info-detail-container{
    display: grid;
    grid-template-columns: auto auto;
}
.personal-info-detail-container div{
    margin-bottom: 20px;
}
.personal-info-detail-container p{
    color: var(--secondary-font-color--);
}