/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Layout */
body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
    flex-direction: row;
}

/* Sidebar */
.sidebar {
    width: 100%;
    max-width: 250px;
    background-color: #35424a;
    color: #ffffff;
    padding: 20px;
    transition: width 0.3s ease; /* Adds smooth transition when resizing */
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-header h2 {
    font-size: 1.5rem;
}

/* Sidebar Menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.sidebar-menu a i {
    margin-right: 10px;
}

.sidebar-menu a:hover {
    color: #66c2ff;
}
.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
